body{
    display: flex;
    justify-content: center;
    font-family: 'Bebas Neue';
}
.container{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
}
.container h1{
    background-color: gray;
    border-radius: 5px;
    font-size: 60px;
}
.container p{
    font-size: 2rem;
    border-radius: 5px;
    background-color: rgb(233, 233, 233);
}